import os


class Config:

    """
    Configure Flask application from environment vars.
    Preconfigured values are set from: RUNMODE=test or RUNMODE=production
    Each parameter can be overriden directly by an environment variable.
    """

    RUNMODE = os.environ.get("RUNMODE")

    if RUNMODE == "production":
        # wfcatalog for MongoDB, anything else for RESIF
        DB_BACKEND = "wfcatalog"
        # RESIF DB
        PGHOST = "resif-pgprod.u-ga.fr"
        PGUSER = "wsavailability_ro"
        PGPORT = "5432"
        PGDATABASE = "seedtree5"
        # WFCatalog MongoDB
        MONGODB_HOST = "localhost"
        MONGODB_PORT = 27017
        MONGODB_USR = ""
        MONGODB_PWD = ""
        MONGODB_NAME = "wfrepo"
        # FDSNWS-Station cache source
        FDSNWS_STATION_URL = "http://www.orfeus-eu.org/fdsnws/station/1/query?level=channel"
        # Cache host (localhost or container name)
        CACHE_HOST = "cache"
        CACHE_PORT = 11211
        # Cache long invalidation period in seconds
        CACHE_LONG_INV_PERIOD = 86400
        # Cache short invalidation period in seconds
        CACHE_SHORT_INV_PERIOD = 600
    elif RUNMODE == "test":
        # wfcatalog for MongoDB, anything else for RESIF
        DB_BACKEND = "wfcatalog"
        # RESIF DB
        PGHOST = "resif-pgpreprod.u-ga.fr"
        PGUSER = "wsavailability_ro"
        PGPORT = "5432"
        PGDATABASE = "seedtree5dev"
        # WFCatalog MongoDB
        MONGODB_HOST = "localhost"
        MONGODB_PORT = 27017
        MONGODB_USR = ""
        MONGODB_PWD = ""
        MONGODB_NAME = "wfrepo"
        # FDSNWS-Station cache source
        FDSNWS_STATION_URL = "http://www.orfeus-eu.org/fdsnws/station/1/query?level=channel"
        # Cache host (localhost or container name)
        CACHE_HOST = "localhost"
        CACHE_PORT = 11211
        # Cache long invalidation period in seconds
        CACHE_LONG_INV_PERIOD = 86400
        # Cache short invalidation period in seconds
        CACHE_SHORT_INV_PERIOD = 600

    try:
        DB_BACKEND = os.environ.get("DB_BACKEND") or DB_BACKEND
        PGHOST = os.environ.get("PGHOST") or PGHOST
        PGUSER = os.environ.get("PGUSER") or PGUSER
        PGPORT = os.environ.get("PGPORT") or PGPORT
        PGDATABASE = os.environ.get("PGDATABASE") or PGDATABASE
        MONGODB_HOST = os.environ.get("MONGODB_HOST") or MONGODB_HOST
        MONGODB_PORT = os.environ.get("MONGODB_PORT") or MONGODB_PORT
        MONGODB_USR = os.environ.get("MONGODB_USR") or MONGODB_USR
        MONGODB_PWD = os.environ.get("MONGODB_PWD") or MONGODB_PWD
        MONGODB_NAME = os.environ.get("MONGODB_NAME") or MONGODB_NAME
        FDSNWS_STATION_URL = os.environ.get("FDSNWS_STATION_URL") or FDSNWS_STATION_URL
        CACHE_HOST = os.environ.get("CACHE_HOST") or CACHE_HOST
        CACHE_PORT = os.environ.get("CACHE_PORT") or CACHE_PORT
        CACHE_LONG_INV_PERIOD = os.environ.get("CACHE_LONG_INV_PERIOD") or CACHE_LONG_INV_PERIOD
        CACHE_SHORT_INV_PERIOD = os.environ.get("CACHE_SHORT_INV_PERIOD") or CACHE_SHORT_INV_PERIOD
    except NameError:
        print(
            "Missing environment variables. Either RUNMODE=(test|production) or PGHOST, PGUSER, PGPORT and PGDATABASE should be set."
        )
        raise
    DATABASE_URI = f"postgresql://{PGUSER}@{PGHOST}:{PGPORT}/{PGDATABASE}"
