<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="gempa GmbH" />
    <title>FDSNWS-Availability</title>
  </head>
  <body>
    <h1>FDSNWS Availability Web Service</h1>
    <p>
      The availability web service returns detailed time span information about
      available time series data. Please refer to
      <a href="http://www.fdsn.org/webservices"
        >http://www.fdsn.org/webservice</a
      >
      for a complete service description.
    </p>

    <h2>Available URLs</h2>
    <ul>
      <li><a href="query">query</a></li>
      <li><a href="extent">extent</a></li>
      <li><a href="version">version</a></li>
      <li><a href="application.wadl">application.wadl</a></li>
    </ul>
  </body>
</html>
